body {
  color: red;
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
}

* {
  user-select: none;
}

.base {
  background: linear-gradient(90deg,
      rgba(239, 241, 191, 1) 0%,
      rgba(161, 203, 183, 1) 100%);
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.content {
  background-color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  color: #7c7777;
  width: 100%;
  max-width: 900px;
  min-width: 900px;
  height: 55vh;
  max-height: 500px;
  min-height: 500px;
  box-shadow: 0 0 49px -4px rgba(0, 0, 0, 0.75);
}

.weatherCardLEftSide {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.weatherCardRightSide {
  width: 35%;
  height: 100%;
}

.video__background {
  width: 100%;
  height: 100%;
  /* background: red; */
}

.video_content {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

.weatherCardLEftSide .weatherCardLEftSide__inner {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: flex-start;
}

.topLine {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
}

.topLine__leftSide {
  margin-top: 2rem;
  margin-left: 3rem;
}

.topLine h1 {
  margin: 0;
  /* width: fit-content; */
  display: flex;
  flex-direction: column;
  font-size: 34px;
  font-weight: 400;
}

.topLine span {
  /* width: max-content; */
  font-weight: 400;
  font-size: 34px;
}

.curentTemperature {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  font-size: 122px;
  font-weight: 100;
  margin-top: 20px;
  color: #9c9;
  margin-left: 3rem;
}

.curentTemperature i {
  margin-top: 30px;
  margin-left: 20px;
  filter: invert(21%) sepia(13%) saturate(8207%) hue-rotate(37deg) brightness(99%) contrast(99%);
}

.weekHistoryCards {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.historyCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.historyCard:first-child {
  margin-left: 2rem;
}

.historyCard:last-child {
  margin-right: 2rem;
}

.historyCard i {
  filter: invert(31%) sepia(13%) saturate(6207%) hue-rotate(44deg) brightness(89%) contrast(90%);
}

.cityName {
  font-size: 30px;
  margin-top: 2rem;
  margin-right: 3rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-direction: row;
  text-align: right;
}

.cityName span {
  font-size: 22px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 220px;
}


.locationBtn {
  margin-left: 10px;
  cursor: pointer;
  width: 22.5px;
  height: 36px;
}

.locationBtn svg:hover {
  fill: black;
  transform: scale(1.1);
}

/* *** loader  */

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes rotate2 {
  0% {
    transform: rotate(0deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }

  50% {
    transform: rotate(180deg);
    border-top-color: rgba(0, 0, 255, 0.5);
  }

  100% {
    transform: rotate(360deg);
    border-top-color: rgba(0, 0, 0, 0.5);
  }
}

* {
  box-sizing: border-box;
}

.loader {
  position: relative;
  margin: 75px auto;
  width: 300px;
  height: 300px;
  display: block;
  overflow: hidden;
}

.loader div {
  height: 100%;
}

.loader,
.loader div {
  border-radius: 50%;
  padding: 8px;
  border: 2px solid transparent;
  animation: rotate linear 3.5s infinite;
  border-top-color: rgba(0, 0, 0, 0.5);
  border-bottom-color: rgba(0, 0, 255, 0.5);
}

.loader,
.loader * {
  will-change: transform;
}